body{
   padding: 0px;
   margin: 0px;
}
 
   
   .box{
   
   box-sizing: border-box;
   width: 500px;
    
   list-style-position: inside;
   border:solid purple;
   justify-content: center;
   text-align: center;
   background-image:  linear-gradient(rgba(0, 0, 0, 0.609),rgba(0,0,0,0.6)),url('dom.jpg');
   background-size:cover;
   color:white;
 }

 .game{
   
    /* position: absolute; */
    /* top: 10px; */
    width: 500px;
    text-align: center;
    height: 500px;
    background-image: url('card.jpg');
    overflow-y: scroll;
    background-size: cover;
    
 }
 #card{
    display: inline-block;
    
    width: 400px;
    text-align: center;
    padding: 10px;
    background-color: grey;

 }

 .rightSide{
    /* position: relative; */
    border:solid rgb(21, 158, 16);
    /* left: 800px; */
    width: 400px;
    
    text-align: center;
    background-image: url('right.jpg');
    background-size: 300px;
 }
.TheDom{
   display:flex;
   align-content: flex-start;
   justify-content: space-between;
}
