.map{
  width: 50%;
  height:50%;
}
.bg {
  height: 80vh;
  background:url("community.jpg");
  background-size:cover;
  background-attachment: fixed;
  background-position: center;
  color: black;
}
.bg1 {
  height: 80vh;
  background:url("world3.jpg");
  background-size:cover;
  background-attachment: fixed;
  background-position: center;
  color: black;
}
.bg2 {
  height: 80vh;
  background:url("math.jpg");
  background-size:cover;
  background-attachment: fixed;
  background-position: center;
  color: black;
}




.App {
  text-align: center;
}

.App-logo,
.logos {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
}


.App-header {

  min-height: 0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
